<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->

<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-new">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center" id="sidenav">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-purple">
    <!-- <i class="fa fa-home w3-xxlarge"></i> -->
    <p>INICIO</p>
  </a>
  <a href="/bills" class="w3-bar-item w3-button w3-padding-large w3-hover-purple">
    <p>REGISTROS</p>
  </a>
  <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-purple">
    <!-- <i class="fa fa-eye w3-xxlarge"></i> -->
    <p>AJUSTES</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">INICIO</a>
    <!-- <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">COTIZAR</a> -->
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">AJUSTES</a>
    <!-- <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a> -->
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">

  <!-- Header/Home -->
  <!-- <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> John Doe.</h1>
    <p>Photographer and Web Designer.</p>
    <img src="/w3images/man_smoke.jpg" alt="boy" class="w3-image" width="992" height="1108">
  </header> -->

  <div class="main-container">
    <div class="container-leftsub col-md-8">

      <h3>Diseño</h3>
      <div class="design services btn-group">
        <button type="button" class="btn btn-outline-primary service" value="10000">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <p class="description">Diseño logo</p>
        </button>
        <button type="button" class="btn btn-outline-primary service" value="5000">
          <i class="fa fa-industry" aria-hidden="true"></i>
          <p class="description">Identidad Corp.</p>
        </button>
        <button type="button" class="btn btn-outline-primary service" value="15000">
          <i class="fa fa-desktop" aria-hidden="true"></i>
          <p class="description">Diseño Web</p>
        </button>
        <button type="button" class="btn btn-outline-primary service" value="2000">
          <i class="fa fa-print" aria-hidden="true"></i>
          <p class="description">Material Impresion</p>
        </button>
      </div>

      <h3>Branding</h3>
      <div class="design services btn-group">
        <button type="button" class="btn btn-outline-primary service">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <p class="description">Diseño logo</p>
        </button>
        <button type="button" class="btn btn-outline-primary service">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <p class="description">Diseño logo</p>
        </button>
      </div>

      <h3>Social Media Management</h3>
      <div class="design services btn-group">
        <button type="button" class="btn btn-outline-primary service">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <p class="description">Diseño logo</p>
        </button>
        <button type="button" class="btn btn-outline-primary service">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <p class="description">Diseño logo</p>
        </button>
      </div>

      <h3>Marketing & Publicidad</h3>
      <div class="design services btn-group">
        <button type="button" class="btn btn-outline-primary service">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <p class="description">Diseño logo</p>
        </button>
        <button type="button" class="btn btn-outline-primary service">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <p class="description">Diseño logo</p>
        </button>
      </div>

      <h3>Eventos & Street Marketing</h3>
      <div class="design services btn-group">
        <button type="button" class="btn btn-outline-primary service">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <p class="description">Diseño logo</p>
        </button>
        <button type="button" class="btn btn-outline-primary service">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <p class="description">Diseño logo</p>
        </button>
      </div>


      <br>
      <!-- <button type="button" class="btn btn-cotizar">Cotizar</button> -->
      <%= link_to 'Nueva cotizacion', "bills/new" %>
    </div>


    <div class="container-rightsub col-md-4">
      <p><%= @client %></p>
      <p >TOTAL:</p>
      <h1>$ <p id="total" val="0">0.000</p></h1>
    </div>
  </div>

  <script>
    var totalArray = []
    var total = 0;

    $('.service').on('click', function() {
      $(this).toggleClass('active');
      if ($(this).hasClass('active')) {

        totalArray.push($(this).val());
        var total = eval(totalArray.join("+"))
        // console.log(totalArray);
      } else {
        totalArray.splice(-1,1)
        var total = eval(totalArray.join("+"))
      }
      var text = $('#total').text();
      $('#total').text(text.replace(text, total));
      // console.log(total);
    });


  </script>

    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="https://www.grammacs.com" target="_blank" class="w3-hover-text-green">Gramma Creative Studio ®</a></p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>
