/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables" */
 @import "bootstrap";

 html, body {
   margin:0;
   padding:0;
   height:100%;
   color: #5E5E5E !important;
 }

 body {
   font-family: Roboto, sans-serif;
   background-color: #7B1FA2;
 }

 input {
   background-color: #7B1FA2;
 }

 input, select, textarea{
    color: white;
  }

 input[type=email], input[type=password] {
     width: 100%;
     padding: 8px;
     margin-top: -10px !important;
     margin: 8px 0;
     display: inline-block;
     /* border: 1px solid #ccc; */
     border: none;
     border-bottom: 1px solid #ccc !important;
     box-sizing: border-box;
 }

 button {
     background-color: #4CAF50;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
 }

   button:hover {
       opacity: 0.8;
   }

   .cancelbtn {
       width: auto;
       padding: 10px 18px;
       background-color: #f44336;
   }

   .imgcontainer {
       text-align: center;
       margin: 24px 0 12px 0;
   }

   img.avatar {
       width: 40%;
       border-radius: 50%;
   }

   .container {
       padding: 16px;
   }

   span.psw {
       float: right;
       padding-top: 16px;
   }

 #sidecontainer {

    height: 100% !important;
    margin-left: 100px;

    textarea:focus, input:focus{
        outline: none;
    }

   .sidecontainerback {
     color: white !important;
     position: absolute;
     margin-top: 200px !important;
   }

   .btn-outline-primary {
     background-color: #E040FB !important;
     border: #E040FB !important;
     color: white !important;
     border-radius: 20px;
     padding-left:  20px;
     padding-right:  20px;
     position:relative;
     right: -120px;
     bottom: -65px;
     width: 100px !important;
     height: 40px !important;
   }
   .btn-outline-primary:hover {
     opacity: .8;
   }

   .btn-outline-secondary {
     color: white !important;
     border: 2px solid #ccc;
     border-radius: 20px;
     padding-left:  20px;
     padding-right:  20px;
     position:relative;
     right: -230px;
     bottom: -15px;
     width: 100px !important;
   }

   #rememberButton {
     // margin-top: -200px !important;
     margin-left: -90px;
     // margin-bottom: 40px;
     position: absolute;
   }

   .psw {
     position: relative !important;
     margin-top: -40px !important;
   }

   .checkbox {
     margin-left: -40px !important;
     font-size: 30px !important;
   }

    #rightsidecontainer {
      background-color: white !important;
    }
 }

 .topnav {
   color: #E040FB;
   #email {
     display:inline-block;margin-right:10px;
   }
   #logout {
     display: inline-block !important;
   }
 }


  .main-container {
    color: black;
    background-color: none;
    border-radius: 15px;
    height: 490px;
    margin-top: 50px !important;
    // padding: 20px;
    opacity: .85;
    width: 100%;
  }

  .container-leftsub {
    overflow: hidden;
    color: #5E5E5E !important;
    border-radius: 15px;
    height: 500px;
    padding: 20px;
    float:left;
    background-color: #E0E0E0;
  }

  .container-rightsub {
    font-size: 40px;
    overflow: hidden;
    color: #5E5E5E !important;
    border-radius: 15px;
    height: 500px;
    padding: 40px;
    float:right;
    background-color: white;
  }

  #sidenav {
    border-radius: 10px;
  }

  .w3-new {
    background: linear-gradient(to right, rgb(188,160,240) , rgb(237,188,234));
    // background-color: none !important;
  }

  .w3-purple {
    background-color: rgb(175,60,203) !important;
  }

  .w3-hover-purple {
    background-color: white !important
  }
  .w3-hover-purple:active {
    background-color: yellow !important
  }

  .w3-sidebar {
    background: white !important;
    height: 500px !important;
    margin-top: 62px;
    margin-left: 3px !important;
    opacity: .6;
    width: 128px;
  }

  .dropdown-menu {
    padding: 12px;
  }

  .btn-info {
    border: none;
    background-color: rgb(175,60,203) !important;
    color: white;
    opacity: .4;
    width: 40%;
  }

  .btn-cotizar {
    margin-top: 30px;
    border: none;
    background-color: rgb(175,60,203) !important;
    // color: white;
    // opacity: .4;
    // width: 40%;
  }

  #basic-addon2 {
    background-color: white !important;
  }
